* {
    padding: 0px;
    margin: 0px;
}

body {
    background: #FFFFFF;
}

div {
    width: 120px;
    height: 120px;
    line-height: 120px;
    text-align: center;
    font-size: 18px;
    float: left;
    margin: 12px;
    border: 1px solid #039;
}